@model IEnumerable<MinimalAPI_Books.Models.Book>
@{
    ViewData["Title"] = "BookIndex";
}
<h1>List of Books</h1>
<p>
    <a asp-action="AddBook" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Add new book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearofPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>

                <td>@Html.DisplayFor(modelItem => item.Title)</td>

                <td>@Html.DisplayFor(modelItem => item.Author)</td>

                <td>@Html.DisplayFor(modelItem => item.YearofPublication)</td>

                <td>@Html.DisplayFor(modelItem => item.Genre)</td>

                <td>@Html.DisplayFor(modelItem => item.Available)</td>
                <td>
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Details <i class="fa fa-edit"></i></a>

                    <a asp-action="UpdateBook" class="btn btn-warning" asp-route-id="@item.Id">
                        Edit <i class="fa fa-edit"></i>
                    </a>

                    <a asp-action="DeleteBook" class="btn btn-danger" asp-route-id="@item.Id">
                        Delete<i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>